[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
parsedatetime = "*"
requests = "*"
bs4 = "*"
pytest = "*"
mock = "*"
flake8 = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
rsa = ">=4.1"
httplib2 = ">=0.19.0"

[requires]
python_version = "3.6"
